[submodule "src/legacy/px4_msgs"]
	path = src/legacy/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.14
[submodule "src/vectornav"]
	path = src/vectornav
	url = https://github.com/berkeleyauv/vectornav.git
	branch = ros2
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
